<!DOCTYPE html>
<html>

<head>
	<title>Cloudera - Apache-Hadoop</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" src="./assets/styles/default.css">
</head>

<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added -->
		<a href="./app/index.html">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="/index.html#">Home</a></li>
			<li><a href="/index.html#about-me">About</a></li>
			<li><a href="/index.html#posts">Posts</a></li>
			<li><a href="/index.html#contact">Contact</a></li>

		</ul>
	</div>

	<div id="main-container">

		<div id="img-banner">
			<picture>
				<img class="lazyload" data-srcset="/assets/images/tools-used-in-bigdata-analytics.png">
			</picture>
		</div>

		<article>
			<h4 class="headings">About Big Data Applications using Hadoop</h4>

			<p class="posts">Hadoop is an ecosystem of open source components that fundamentally changes the way
				enterprises
				store, process, and analyze data. Unlike traditional systems, Hadoop enables multiple types of analytic
				workloads
				to run on the same data, at the same time, at massive scale on industry-standard hardware. CDH,
				Cloudera's open
				source platform, is the most popular distribution of Hadoop and related projects in the world (with
				support
				available via a Cloudera Enterprise subscription).</p>
		</article>
		<h4 class="headings">Technologies:</h5>
			<ul class="tools">
				<li>- Java - MapReduce</li>
				<li>- HBASE</li>
				<li>- Kafka</li>
				<li>- Sqoop</li>
				<li>- Spark</li>
				<li>- HDFS</li>
				<li>- API</li>
				<li>- Flume</li>
			</ul>

			<article>
				<h4 class="headings">Cloudera Admin Dashboard</h5>
					<div class="img">
						<picture>
							<img class="lazyload" data-srcset="/assets/images/post-1.jpeg">
						</picture>
					</div>
					<p></p>
			</article>

			<article>
				<h4 class="headings">Descriptive Analytics</h5>
					<div class="img">
						<picture>
							<img class="lazyload" data-srcset="/assets/images/Types-of-bigdata-analytics.png">
						</picture>
					</div>
					<p></p>
			</article>

			<article>
				<h4 class="headings">Predictive Analytics</h5>
					<div class="img">
						<picture>
							<img class="lazyload"
								data-srcset="/assets/images/Types-of-bigdata-analytics-predictive-analytics.png">
						</picture>
					</div>
					<p></p>
			</article>

			<article>
				<h4 class="headings">Prescriptive analytics</h5>
					<div class="img">
						<picture>
							<img class="lazyload"
								data-srcset="/assets/images/Types-of-bigdata-analytics-prescriptive-analytics.png">
						</picture>
					</div>
					<p></p>
			</article>

			<article>
				<h4 class="headings">Diagnostics analytics</h5>
					<div class="img">
						<picture>
							<img class="lazyload"
								data-srcset="/assets/images/Types-of-bigdata-analytics-diagnostics-analytics.png">
						</picture>
					</div>
					<p></p>
			</article>
	</div>
	<br>
	<footer class="site-footer">
		<div class="wrapper">
			<p><span class="site-footer__text">Copyright &copy; 2020 Topgreen Portfolio. All rights reserved.</span>
				<a href="" class="btn btn--orange open-modal">Get in Touch</a></p>
		</div>
	</footer>
	<script src="/bundled.js"></script>
</body>

</html>