<!DOCTYPE html>
<html>

<head>
    <title>Recent-Posts</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/app/assets/styles/default.css">


    <style type="text/css">
        .img-container {
            max-width: 600px;
        }

        img {
            width: 100%
        }
    </style>

</head>

<body>
    <div class="nav-wrapper">

        <!-- Link around dots-wrapper added -->
        <a href="./app/index.html">
            <div class="dots-wrapper">
                <div id="dot-1" class="browser-dot"></div>
                <div id="dot-2" class="browser-dot"></div>
                <div id="dot-3" class="browser-dot"></div>
            </div>
        </a>

        <ul id="navigation">
            <li><a href="/app/index.html#">Home</a></li>
            <li><a href="/app/index.html#about-me">About</a></li>
            <li><a href="/app/index.html#posts">Posts</a></li>
            <li><a href="/app/index.html#contact">Contact</a></li>

        </ul>
    </div>

    <div class="main-container">
        <br>

        <div class="img-container">
            <img src="">
        </div>

        <h3>Array ForEach</h3><br>

        <h4>What is Array ForEach</h4>
        <p>
            Array Foreach is a method that exits on the array.prototype that was introduced in ECMAScript 5(ES5)
            and is supported an all modern browsers.

        </p>
        <p>Array foreach is the entry-level loop tool tat will iterate over your array and pass you each value(as well
            as its index) it can be reneered to the DOM for instance. forEach unlke other method does not return any
            value
            Think of Araay Foreach as : "I want to access my array values one after the other in other to do something
            with them"
            Here is the syntax for Array ForEach:
            <code>array.forEach((value, index, array) => {...}, thisArg);</code>
        </p>
        <p>ForEach is considered a "modern for..in loop" replacement, despite its behaviour and having less flexibilty.
        </p>
    </div>

    <footer class="site-footer">
        <div class="wrapper">
            <p><span class="site-footer__text">Copyright &copy; 2020 Topgreen Portfolio. All rights reserved.</span>
                <a href="#" class="btn btn--orange open-modal">Get in Touch</a></p>
        </div>
    </footer>

</body>

</html>