<!DOCTYPE html>
<html>

<head>
	<title>Cloudera - Apache-Hadoop</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" src="../styles/default.css">


	<style type="text/css">
		.img-container {
			max-width: 600px;
		}

		img {
			width: 100%
		}
	</style>

</head>

<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added -->
		<a href="./app/index.html">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="/index.html#">Home</a></li>
			<li><a href="/index.html#about-me">About</a></li>
			<li><a href="/index.html#posts">Posts</a></li>
			<li><a href="/index.html#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="../images/tools-used-in-bigdata-analytics.png">
		</div>

		<h3>About Big Data Applications using Hadoop</h3>

		<p>Hadoop is an ecosystem of open source components that fundamentally changes the way enterprises store,
			process, and
			analyze data.
			<br>
			<br>
			Unlike traditional systems, Hadoop enables multiple types of analytic workloads to run on the same data, at
			the same
			<br>
			<br>
			time, at massive scale on industry-standard hardware. CDH, Cloudera's open source
			<br>
			<br>
			platform, is the most popular distribution of Hadoop and related projects in the world (with support
			available via a

			<br>
			<br>
			Cloudera Enterprise subscription).</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- Java - MapReduce</li>
			<li>- HBASE</li>
			<li>- Kafka</li>
			<li>- Sqoop</li>
			<li>- Spark</li>
			<li>- HDFS</li>
			<li>- API</li>
			<li>- Flume</li>
		</ul>


		<h5>Cloudera Admin Dashboard</h5>
		<div class="img-container">
			<img src="../images/post-1.jpeg">
		</div>

		<h6>Descriptive Analytics</h5>
			<div class="img-container">
				<img src="../images/Types-of-bigdata-analytics.png">
			</div>

			<h5>Predictive Analytics</h5>
			<div class="img-container">
				<img src="../images/Types-of-bigdata-analytics-predictive-analytics.png">
			</div>

			<h5>Prescriptive analytics</h5>
			<div class="img-container">
				<img src="../images/Types-of-bigdata-analytics-prescriptive-analytics.png">
			</div>

			<h5>Diagnostics analytics</h5>
			<div class="img-container">
				<img src="../images/Types-of-bigdata-analytics-diagnostics-analytics.png">
			</div>

	</div>
	<br>
	<footer class="site-footer">
		<div class="wrapper">
			<p><span class="site-footer__text">Copyright &copy; 2020 Topgreen Portfolio. All rights reserved.</span>
				<a href="index.html#contact" class="btn btn--orange open-modal">Get in Touch</a></p>
		</div>
	</footer>
</body>

</html>